*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html,
body {
  background-color: hsl(233, 47%, 7%) ;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 15px;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Inter, sans serif;
}
.wrapper {
  border-radius: 0.8rem;
  background-color: hsl(244, 38%, 16%);
}
.body-title {
  color: hsl(0, 0%, 100%);
  text-align: center;
  
}
.body-title .color{
  color: hsl(277, 64%, 61%);
}
p{
  margin: 0;
}

@media screen and(min-width: 290px) {
  body{
    display: flex;
    
    
  }
  .body-title{
    padding-left: 15%;
    padding-right: 15%;
  }
  .wrapper {
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
  }
  .img-card{
    position: relative;
  }
  .img-card>#image-top {
    width: 100%;
    height: 100%;
    border-radius: 0.8rem 0.8rem 0 0;
  }
  .img-card .background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background-color: hsla(279, 72%, 39%, 0.692) ;
    border-radius: 0.8rem 0.8rem 0 0;
  }
  
   .description{
    text-align: center;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    color: hsla(0, 0%, 100%, 0.493);
  }

  .display-stats{
    margin:0;
    height: 100%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    
  }
  .stats{
    color: hsla(0, 0%, 100%, 0.911);
    font-weight: 700;
    font-size: 2rem;
    padding-top: 5%;
  }
  .heading {
    color:  hsla(0, 0%, 100%, 0.445);
    font-family: Lexend Deca, sans serif;
    font-weight: 400;
    padding-bottom: 5%;
  }
  
}
@media screen and(min-width: 1080px){
  .wrapper {
    margin:auto;
    display: flex;
    flex-direction: row-reverse;
    width: 75%;
    height: auto;
  }
  .img-card .background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background-color: hsla(279, 72%, 39%, 0.692) ;
    border-radius: 0 0.8rem 0.8rem 0;
  }
  .img-card{
    position: relative;
  }
  .img-card>#image-top {
    width: 100%;
    height: 100%;
    border-radius: 0rem 0.8rem 0.8rem 0;
  }
  .section {
    display: flex;
    flex-direction: column;
    margin: auto;
    //padding: 5% 10% 5% 3%;
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  .display-stats{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin:0;
    width: 100%;
    padding-top: 10%;
  }
  element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .stats{
    color: hsla(0, 0%, 100%, 0.911);
    font-weight: 700;
    font-size: 2rem;
  }
  .heading {
    color:  hsla(0, 0%, 100%, 0.445);
    font-family: Lexend Deca, sans serif;
    font-weight: 400;
  }
  .body-title{
    padding: 0;
    width: 50%;
  }
  .body-content{
    //text-align: center;
    padding-top: 2%;
    color: hsla(0, 0%, 100%, 0.493);
    width: 50%;
  }

}


.attribution { font-size: 15px; text-align: center; color: rosybrown; }
.attribution a { color: hsl(228, 61%, 52%); }